.whyLearn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.whyLearn-about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:20px
}
.whyLearn .whyLearn-about h3{
    color:orangered;
    margin:auto;
}
.whyLearn-heading{
    font-size: 35px;
    font-weight: 800;
}
.whyLearn-cards{
    display: flex;
    justify-content: space-around;
    gap:10px;
    padding:20px 40px;
    margin-top: 50px;
}
@media(max-width:1287px){
    .whyLearn-cards{
        padding: 0px;
        gap:2px
    }
}
@media(max-width:1144px){
    .whyLearn-cards{
            display: grid;
            grid-template-columns: 3fr 3fr;
            grid-gap: 5%;
    }

}
@media(max-width:650px){
    .whyLearn-cards{
            display: grid;
            grid-template-columns: 12fr;
            grid-gap: 5%;
    }

}
